[class^='retron-'] {
  box-sizing: border-box;
}

.retron {
  &-renderer {
    position: relative;
    overflow: hidden;
  }

  &-render-layer {
    position: absolute;
    top: 0;
    left: 0;
  }
}
